* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    min-height: 200vh;
    padding: 12px;
    border: 1px solid black;

}

.container .box {
    width: 100px;
    min-height: 100px;
    background: green;
    position: relative;
    top: -38px;
    z-index: -1;
}


.b2 {
    margin-top: 12px;
    border: 12px solid black;
    padding: 4px;
}

