* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header nav {
    background: rgba(0, 0, 0, 0.893);
    padding: 16px 12px;
    color: white;
    display: flex;
    gap: 14px;
}

header nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

header nav .links {
    display: flex;
    gap: 8px;
    align-items: center;

}

.fa-bars {
    visibility: hidden;
    color: white;
    cursor: pointer;
    font-size: 26px;
    position: absolute;
    right: 24px;
    top: 28px;

}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 8px;
}

.row {
    display: flex;
    margin-top: 32px;
    justify-content: space-between;
}

.row .box {
    max-width: 340px;
    border: 4px solid black;
    padding: 4px;
    border-radius: 8px;
}

.row .box .img {
    width: 100%;
}

.row .box .title {
    text-align: center;
}

@media (max-width:768px) {
    header nav .links {
        display: none;
    }

    header nav {
        justify-content: center;
    }

    .logo {
        width: 42px;
    }

    .fa-bars {
        visibility: visible;
    }

    .row {
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }
}