* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header nav {
    background: rgba(0, 0, 0, 0.893);
    padding: 16px 12px;
    color: white;
    display: flex;
    gap: 14px;
}

header nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

header nav .links {
    display: flex;
    gap: 8px;
    align-items: center;

}

@media (max-width:768px) {
    header nav .links {
        display: none;
    }

    header nav {
        justify-content: center;
    }
    .logo{
        width: 42px;
    }

}